
/******************************/
/*********NAV BAR TOP***********/
/******************************/

.navbar {
  background-color: #719540;
  margin-bottom: 0;
  padding: 10px 0;
}

/*giving the brand name a higher specifity rating to override default*/
.navbar .container-fluid .navbar-header .navbar-brand {
  color: white;
  font-size: 30px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  padding-right: 50px;
}

.navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}

.search {
  height: 100%;
}

.logo {
  height: 200%;
  margin-top: -7px;
  padding-left: 5px;
}

.below-nav-top, .row {
  color: white;
  height: 100%;
}

.signupButton {
  border: 2px solid white;
  border-radius: 40px;
  margin-right: 40px;
  margin-top: 10px;
}

.signupButton:hover {
  background-color: white;
  color: #434343;
}

.navbar-default .signUpArea>.signupButton>a {
  color: white;
  padding: 5px 5px;
}

.dashboardPages .loginLink {
  display: none;
}

.publicPages .searchBarListContainer {
  display: none;
}

/******************************/
/*********SEARCH BAR***********/
/******************************/

.form-group input[type="text"] {
  background-color: #5C7934;
  border-radius: 4px 0 0 4px;
  border-width: 0;
  color: white;
  height: 30px;
  padding-right: 50px;
  width: 200px;
}

.btn-default {
  background-color: #5C7934;
  border-radius: 0 4px 4px 0;
  border-width: 0;
  height: 30px;
  margin-left: -50px;
  padding: 5px 5px;
  text-align: right;
  width: 100px;
}

.btn-default:hover {
  background-color: #5C7934;
}

/*************************************/
/*********PLACEHOLDER COLOR***********/
/*************************************/

.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: white;
}
.form-control :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    white;
  opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    red;
  opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    red;
}

/*******************/
/******SIDEBAR******/
/*******************/

/*Main container div*/
.col-sm-2 {
  background-color: #C9D593;
  color: #434343;
  font-weight: bold;
  min-height: 200%;
  max-height: 9999px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 3%;
}

/*Profile Pic*/
.left-12 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.userinfo {
  color: #434343;
}

.listItem, .name {
  color: #434343;
  padding: 9px 0;
}

.listItem {
  text-align: left;
}

.name {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

a {
  color: #434343;
}

/*Eliminates default link behavior*/
.listItem a:hover {
  color: #434343;
  text-decoration: none;
}

.listItem:hover {
  background-color: #DBE3B6;
}

.menuIcons {
  height: 30px;
  margin-bottom: 2px;
  margin-right: 15px;
  margin-left: 25%;
}

.hiddenArrow {
  display: none;
}

.listItem:hover .hiddenArrow{
  display: inline-block;
  height: 30px;
  float: right;
}

@media screen and (max-width: 1120px) {

  .hiddenArrow {
    display: none;
  }

  .listItem:hover .hiddenArrow {
    display: none;
  }
}

@media screen and (max-width: 1010px) and (min-width: 768px) {

  .listItem {
    font-size: 12px;
  }

  .menuIcons {
    height: 20px;
  }
}













